// Container
// -----------------------------------------------------------------------------
//
// 1. Prevent `main-container` from being overlapped by header.
// 2. Prevent `main-container` from being overlapped by header + cookie-message.
//

.main-container {
  width: 100%;
  margin-top: $header-ht; // 1
}

body.is-cookie-message .main-container {
  margin-top: $header-ht + $cookie-message-ht; // 2

  @media ($medium-up) {
    margin-top: $header-ht + $cookie-message-ht-medium-up; // 2
  }
}

.container {
  max-width: $container-mxwd;
  margin: 0 auto;
  padding-left: convert-px-to-rem(16);
  padding-right: convert-px-to-rem(16);

  @media ($medium-up) {
    padding-left: convert-px-to-rem(24);
    padding-right: convert-px-to-rem(24);
  }

  @media ($large-up) {
    padding-left: convert-px-to-rem(32);
    padding-right: convert-px-to-rem(32);
  }

  &--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}