// Header
// -----------------------------------------------------------------------------

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-ht;
  padding-top: convert-px-to-rem(12);
  padding-bottom: convert-px-to-rem(12);
  background-color: $header-bg;
  z-index: $header-zi;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

body.is-cookie-message .header {
  top: $cookie-message-ht;

  @media ($medium-up) {
    top: $cookie-message-ht-medium-up;
  }
}