<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        <span class="footer__logo logo">
          <!-- TODO : replace for svg logo -->
          <!-- prettier-ignore -->
          {{/* partial "svg/arnauvilardebo-logo.svg" (dict "class" "logo__img" "fill" "#111") */}}
          <img
            class="logo__img"
            src="{{ .Site.BaseURL }}/images/logo.jpeg"
            alt="{{ .Site.Title }} logo"
          />
        </span>
        <nav>
          <ul class="footer__list body-1">
            <li class="footer__item">
              <a
                class="footer__link"
                href="{{ .Site.BaseURL }}"
                >Home</a
              >
            </li>
            <li class="footer__item">
              <a class="footer__link" href="{{ .Site.BaseURL }}works/"
                >Works</a
              >
            </li>
            <li class="footer__item">
              <a class="footer__link" href="{{ .Site.BaseURL }}about/"
                >About</a
              >
            </li>
            <li class="footer__item">
              <a class="footer__link" href="{{ .Site.BaseURL }}contact/"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__col">
        <ul class="footer__list body-1">
          <li class="footer__item body-1--dark-medium-emphasis body-1--bold">
            Contact us
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="mailto:{{ .Site.Params.companyEmail }}"
            >
              {{ .Site.Params.companyEmail }}
            </a>
          </li>
          <li class="footer__item">
            <a
              class="footer__link"
              href="tel:{{ replaceRE "(\\s)" "" .Site.Params.companyPhone }}"
            >
              +{{ .Site.Params.companyPhone }}
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <!-- prettier-ignore -->
        {{ partial "social-media-set.html" . }}
      </div>
      <div class="footer__col">
        <ul class="footer__list body-1">
          <li class="footer__item footer__item--right">
            © {{ .Site.Title }} 2020-{{ now.Format "2006" }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
