<header class="header">
  <div class="container container--flex">
    <a class="logo" href="{{ .Site.BaseURL }}">
      <!-- prettier-ignore -->
      {{/* partial "svg/arnauvilardebo-logo.svg" (dict "class" "logo__img" "fill" "#fff") */}}
      <img class="logo__img" src="{{ .Site.BaseURL }}/images/logo.jpeg" alt="{{ .Site.Title }} logo" />
    </a>
    <button class="btn btn--transparent btn--icon-only">
      <!-- prettier-ignore -->
      {{ partial "svg/menu.svg" (dict "fill" "#fff") }}
    </button>
  </div>
</header>
