<ul class="social-media-set">
  <li class="social-media-set__item">
    <a
      class="social-logo"
      href="{{ .Site.Params.instagram }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <!-- prettier-ignore -->
      {{ partial "svg/social-instagram-logo.svg" (dict "class" "social-logo__img") }}
    </a>
  </li>
  <li class="social-media-set__item">
    <a
      class="social-logo"
      href="{{ .Site.Params.vimeo }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <!-- prettier-ignore -->
      {{ partial "svg/social-vimeo-logo.svg" (dict "class" "social-logo__img") }}
    </a>
  </li>
</ul>
