{{ define "main" }}
<section class="panel">
  <div class="container">
    <h2 class="h4">Works</h2>
    <ul class="card-list">
      <!-- prettier-ignore -->
      {{ range $index, $value := where .Pages.ByDate.Reverse ".Draft" false}}
      <li class="card-list__item">
        <!-- prettier-ignore -->
        {{ partial "card-link.html" (dict "link" .RelPermalink "path" .Params.video_thumbnail "title" .Title "campaign" .Params.campaign) }}
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
