{{ define "main" }}
<h1>{{ .Title }}</h1>
<h2>{{ .Params.campaign }}</h2>
<p>{{ .Date }}</p>
<ul>
  <li>{{ .Params.vimeo_id }}</li>
  <!-- prettier-ignore -->
  {{ with .Params.video_thumbnail }}
  <li>{{ . }}</li>
  {{ end }}
  <!-- prettier-ignore -->
  {{ with .Params.video_thumbnail_gif_small }}
  <li>{{ . }}</li>
  {{ end }}
  <!-- prettier-ignore -->
  {{ with .Params.video_thumbnail_gif_large }}
  <li>{{ . }}</li>
  {{ end }}
  <!-- prettier-ignore -->
  {{ with .Params.format }}
  <li>{{ . }}</li>
  {{ end }}
  <!-- prettier-ignore -->
  {{ with .Params.director }}
  <li>{{ . }}</li>
  {{ end }}
  <li>{{ .Params.music }}</li>
</ul>
<!-- prettier-ignore -->
{{ with .Content }}
<article>{{ . }}</article>
{{ end }}
<!-- prettier-ignore -->
{{ end }}
