{{ define "main" }}
{{ $title := .Title }}
{{ $campaign := .Params.campaign }}
{{ $alt := (print $title " - " $campaign) }}

<p>
  <a href="{{ .Site.BaseURL }}works/">&lsaquo; Back</a>
</p>

<h1>{{ $title }}</h1>
<h2>{{ $campaign }}</h2>
<p>{{ .Date }}</p>

<ul>
  {{ with .Params.vimeo_id }}
    <li>{{ . }}</li>
  {{ end }}
  {{ with .Params.video_thumbnail }}
    <li>
      <img src="{{ . }}" alt="{{ $alt }} - thumb">
    </li>
  {{ end }}
  {{ with .Params.video_thumbnail_gif_small }}
    <li>
      <img src="{{ . }}" alt="{{ $alt }} - small clip">
    </li>
  {{ end }}
  {{ with .Params.video_thumbnail_gif_large }}
    <li>
      <img src="{{ . }}" alt="{{ $alt }} - large clip">
    </li>
  {{ end }}
  {{ with .Params.format }}
    <li>{{ . }}</li>
  {{ end }}
  {{ with .Params.director }}
    <li>{{ . }}</li>
  {{ end }}
  {{ if .Params.music }}
    <li>
      {{ range $index, $element := .Params.music }}
        {{ $element }}{{ if gt $index 0 }}, {{ end }}
      {{ end }}
    </li>
  {{ end }}
</ul>

{{ with .Content }}
  <article>{{ . }}</article>
{{ end }}
{{ end }}
